
/source/.vs

/source/Assets/Scripts/.vs

/source/Library/cache
/source/Library/il2cpp_cache
/source/Library/metadata
/source/Library/PlayerDataCache
/source/Library/ShaderCache
/source/Library/SplashScreenCache
/source/Library/GridBrush

source/Library/AnnotationManager
source/Library/CurrentLayout.dwlt
source/Library/CurrentMaximizeLayout.dwlt
source/Library/expandedItems
source/Library/InspectorExpandedItems.asset
source/Library/LibraryFormatVersion.txt
source/Library/ShaderCache.db

source/Assets/Scripts/Globals/UOBWrapper.cs

/source/DATA/ContentJSONs
/source/DATA/Backgrounds

source/DATA/config.json

*.meta
*.log
